{% extends 'base.html' %}
{% load static %}
{% block main_content %}


    <!-- Display paragraph: If there are no recipes yet-->
    {% if profile and not all_recipes %}
        <p class="no-articles">There are currently no recipes available.</p>
    {% elif profile and all_recipes %}
        {% for recipe in all_recipes %}
            <!-- Display a card with information about each recipe (if any)-->
            <section id="catalogue">
                <!-- first recipe-->
                <div class="recipe-card">
                    <div class="image-wrap">
                        <!-- recipe image -->
                        <!-- if there is no image url provided, display the default recipe image -->

                        <img
                                class="recipe-img"
                                src="{{ recipe.image_url }}"
                                alt="https://cdn.pixabay.com/photo/2016/12/27/21/22/salad-1934944_1280.jpg"

                        />
                    </div>
                    <!-- recipe title -->
                    <h3>{{ recipe.title }}</h3>
                    <!-- recipe cooking time -->
                    <h1>Cooking time: {{ recipe.cooking_time }}min.</h1>
                    <!-- recipe instructions -->
                    <h1>{{ recipe.instructions|truncatechars:35 }}</h1>
                    <div class="details-buttons">
                        <!-- recipe details button -->
                        <a href="{% url 'details recipe' recipe.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}

{% endblock %}

