{% extends 'base.html' %}

{% block title %}
    Employees List
{% endblock %}

{% block content %}
    {% include 'common/../nav-bar.html' %}
    <h1>This Is The Employees List Page</h1>

    <h2>Employees</h2>
    <ul>
        {% for employee in employees %}
            <li>
                {{ employee.first_name }} {{ employee.last_name }}
                <a href="{% url 'employee details' employee.pk %}">Details</a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">    
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
         </span>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <a href="{% url 'create employee' %}">Add Employee</a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form method="get">
        {% csrf_token %}
        {{ employee_search_form }}
        <button type="submit">Search</button>
    </form>

{% endblock %}