<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to our bookstore. </h1>
<h2> Please take a look at our catalog</h2>
<h2><a href="{% url 'authors list' %}">Our Authors</a></h2>

<h2><a href="{% url 'genres list' %}">Our Genres</a></h2>

<h2><a href="{% url 'books list' %}">Our Books</a></h2>


{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {% if form %}#}
{#        <p>Form exists!</p>#}
{#        {{ form.as_p }}#}
{#    {% else %}#}
{#        <p>No form found</p>#}
{#    {% endif %}#}
{#    <button type="submit">Show Name</button>#}
{#</form>#}

<form method="post">
    {% csrf_token %}
    {{ form.first_name.label_tag }} {{ form.first_name }}
    {{ form.last_name.label_tag }} {{ form.last_name }}
    <button type="submit">Show Name</button>
</form>

</body>
</html>

