<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>This Is The Home Page</h1>
<div> This is a form with Select widget
    <form>
        {% csrf_token %}
        {{ select_option_form.as_p }}
    </form>
</div>
<br>
<br>
<br>
<div> This is a checkbox form 
    <form>
        {% csrf_token %}
        {{ checkbox_form.as_p }}
    </form>
</div>
<br>
<br>
<br>
<div> This is a radio button form 
    <form>
        {% csrf_token %}
        {{ radio_button_form.as_p }}
    </form>
</div>

</body>
</html>