{% extends 'base.html' %}

{% block title %}
    Employees List
{% endblock %}

{% block content %}
    {% include 'common/../nav-bar.html' %}
    <h1>This Is The Employees List Page</h1>

    <h2>Employees</h2>
    <ul>
        {% for employee in employees %}
            <li>
                {{ employee.first_name }} {{ employee.last_name }}
                <a href="{% url 'employee details' employee.pk %}">Details</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'create employee' %}">Add Employee</a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <form method="get">
        {% csrf_token %}
        {{ employee_search_form }}
        <button type="submit">Search</button>
    </form>
    
{% endblock %}